#block1 {
    background-color: #dae5f7; 
    padding: 30px; 
    margin-bottom: 5px;
    border: 1px dotted grey;
    font-family: Arial, Helvetica, sans-serif;
}

#block2 {
    background-color: #daf7ed; 
    padding: 30px;
    border: 1px dotted grey;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

#block3 {
    background-color: #dae5f7; 
    padding: 30px;
    border: 1px dotted grey;
    font-family: Arial, Helvetica, sans-serif;
}

#privText {
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
}

#addressText {
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
}

#qrcode {
    margin-top: 10px;
}
